@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: "Poppins", sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --color-brand: var(--brand);
    --color-brand-soft: var(--brand-soft);
    --color-brown-300: var(--brown-300);
    --color-brown-400: var(--brown-400);
    --color-brown-500: var(--brown-500);
    --color-brown-600: var(--brown-600);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #f9f8f6;
    --foreground: #26231e;
    --card: #ffffff;
    --card-foreground: #26231e;
    --popover: #ffffff;
    --popover-foreground: #26231e;
    --primary: #26231e;
    --primary-foreground: #ffffff;
    --secondary: #efeeeb;
    --secondary-foreground: #26231e;
    --muted: #efeeeb;
    --muted-foreground: #75716b;
    --accent: #efeeeb;
    --accent-foreground: #26231e;
    --destructive: #ef4444;
    --border: #dad6d1;
    --input: #dad6d1;
    --ring: #75716b;
    --brand: #12b279;
    --brand-soft: #d7f2e9;
    --brown-300: #dad6d1;
    --brown-400: #75716b;
    --brown-500: #43403b;
    --brown-600: #26231e;
    --chart-1: #dad6d1;
    --chart-2: #75716b;
    --chart-3: #43403b;
    --chart-4: #26231e;
    --chart-5: #12b279;
    --radius: 0.5rem;
    --sidebar: #f9f8f6;
    --sidebar-foreground: #26231e;
    --sidebar-primary: #26231e;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #efeeeb;
    --sidebar-accent-foreground: #26231e;
    --sidebar-border: #dad6d1;
    --sidebar-ring: #75716b;
}

.dark {
    --background: #26231e;
    --foreground: #f9f8f6;
    --card: #43403b;
    --card-foreground: #f9f8f6;
    --popover: #43403b;
    --popover-foreground: #f9f8f6;
    --primary: #f9f8f6;
    --primary-foreground: #26231e;
    --secondary: #43403b;
    --secondary-foreground: #f9f8f6;
    --muted: #43403b;
    --muted-foreground: #dad6d1;
    --accent: #43403b;
    --accent-foreground: #f9f8f6;
    --destructive: #f87171;
    --border: rgb(255 255 255 / 10%);
    --input: rgb(255 255 255 / 15%);
    --ring: #dad6d1;
    --brand: #12b279;
    --brand-soft: #0f5132;
    --sidebar: #43403b;
    --sidebar-foreground: #f9f8f6;
    --sidebar-primary: #12b279;
    --sidebar-primary-foreground: #f9f8f6;
    --sidebar-accent: #26231e;
    --sidebar-accent-foreground: #f9f8f6;
    --sidebar-border: rgb(255 255 255 / 10%);
    --sidebar-ring: #dad6d1;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  button:not(:disabled) {
    cursor: pointer;
  }
}

.markdown {
  font-size: 16px;
  font-weight: 500;
  color: #43403b;
  line-height: 24px;
}

.markdown :is(h2) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #26231e;
}

.markdown :is(h3, h4, h5, h6) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #26231e;
}

.markdown p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: 22px;
}

.markdown :is(ul, ol) {
  list-style-position: outside;
}

.markdown :is(ul) {
  list-style-type: "•";
}

.markdown :is(ol) {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown :is(a) {
  text-decoration: underline;
}

.markdown :is(a):hover {
  text-decoration: underline;
  color: #726d67;
  cursor: pointer;
}

.markdown :is(ul) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 5px;
  margin-left: 10px;
}

.markdown :is(ol) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 3px;
  margin-left: 10px;
}

.markdown :is(blockquote) {
  border-left: 3px solid #26231e;
  margin: 1.5em 10px;
  padding-left: 10px;
  font-style: italic;
}

.markdown :is(hr) {
  border: none;
  border-top: 2.5px solid #d1d5db;
  margin: 1.5em 0;
  width: 30%;
}

.markdown img {
  display: block;
  width: 100%;
  height: auto;
  margin: 2em 0;
  border-radius: 12px;
}
